<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-tabs>	
    <ion-tab [root]='inboxRoot' tabTitle='Chat' tabIcon='chatbubbles'></ion-tab>	
    <ion-tab [root]='friendsRoot' tabTitle='Friends' tabIcon='people' [rootParams]='params'></ion-tab>	
    <ion-tab [root]='profileRoot' tabTitle='Profile' tabIcon='person'></ion-tab>
  </ion-tabs>
